[2018-06-21 12:07] SedatYogurtcuoglu opened #1 "step-by-step HOL instructs to deploy app service instead of ASE"
Although the HOL states that the solution has to be PCI compliant, the apps are asked to be deployed to App service, but not ASE. Either the deployment environment needs to be changed to ASE, or the reason for not using ASE in HOL, needs to be explained.

[2018-07-02 03:01] DawnmarieDesJardins commented on #1
Hi Michael,
Your email said this test/fix was complete, but there's an open issue.  Do the documents need to be updated?

[2018-07-02 10:45] mwasham commented on #1
When the abstract for the lab is written by Joel I would suggest removing the PCI compliance aspect since that is specific to the WDS and not the lab.

[2018-07-02 17:16] DawnmarieDesJardins commented on #1
Hey Joel,
Can you please double check the workshop abstracts per Sedat & Michael's notes above?
Appreciate it!
Dawnmarie

[2018-07-04 22:18] DawnmarieDesJardins opened #2 "ReadMe page"
ReadMe page needs to be updated from template and abstracts written/updated please.

[2018-07-04 22:19] DawnmarieDesJardins opened #3 "Folder & Document naming conventions"
Please update folders & documents with corrected naming conventions.

[2018-07-04 22:39] DawnmarieDesJardins opened #4 "WDS - presenter presentation (PPT)"
Slide 2 - Update abstract if needed with new abstract requirements.
Slide 5 - 1st bullet - need to spell out acronym the first time it's shown with the (OLTP) following please.
Slides 6 & 7 - Customer needs.  Student guide lists 7 customer needs, PPT bullets 8, trainer notes list 10
Slide 9 - Missing alt-text
Slide 11 - Outcome says 10-minute chalk-talk format.  Should be 15-minute  (Old template?

[2018-07-04 22:49] DawnmarieDesJardins opened #5 "WDS - student & trainer guide"
Student portion of both guides ask 7 objections, solutions section answers 8 objections.

[2018-07-04 22:51] DawnmarieDesJardins opened #6 "WDS trainer guide"
Offers service - asks 3 questions in student guide, answers 2 in solution section.

[2018-07-04 22:57] DawnmarieDesJardins opened #7 "WDS trainer guide"
Enabling PCE compliance section -
Student guide has question 1, a., then bullets.  Answer portion of the trainer guide has 1, then a sentence, then a - e.
Trainer guide then answers a question 2 that is not in the student guide

[2018-07-04 23:00] DawnmarieDesJardins opened #8 "WDS - student guide"
Under design a proof of concept
Access control is listed, with one question, under Geo-resiliency.  It's listed again, with 2 questions, under Data warehouse.  That last section is not answered in the trainer guide.

[2018-07-04 23:02] DawnmarieDesJardins opened #9 "WDS - student guide"
Image not showing - Infographic for common scenarios (line 123)

[2018-07-05 15:17] DawnmarieDesJardins opened #10 "Before the HOL document"
Need to correct document name - Before the HOL - Modern cloud apps
Need to convert to most current template - add header, licensing info & TOC

[2018-07-05 15:19] DawnmarieDesJardins opened #11 "Before the HOL doc"
Under Requirements...2nd bullet reads:
Local machine or Azure LABVM virtual machine configured with:  ???

[2018-07-05 15:32] DawnmarieDesJardins opened #12 "HOL - unguided"
Exercise 1, Task 1 Exit criteria reads
The web application should display in Microsoft Azure by navigating to its [web app name].azurewebsites.net URL.

Is there supposed to be something inside those brackets?

[2018-07-05 15:38] DawnmarieDesJardins opened #13 "HOL - unguided"
Punctuation is inconsistent.  MS Style guide states bulleted & numbered items do not have periods at the end of the sentence unless they have multiple sentences.  Document goes back and forth, needs to be corrected please.
Example:
Task 1: Enable Azure AD Premium Trial
Tasks to complete
 - Enable Azure AD Premium on your existing Azure AD Tenant
Exit criteria
 - The Azure AD Premium SKU should be

[2018-07-05 15:43] DawnmarieDesJardins opened #14 "HOL unguided"
Task 6, Step 11 - please verify code - I'm seeing instructions, then an empty grey box, then:
// App_Start\Startup.Auth.cs using System; using Owin; using Microsoft.Owin.Security; using Microsoft.Owin.Security.Cookies; using Microsoft.Owin.Security.OpenIdConnect; using System.Threading.Tasks; using Microsoft.Owin.Security.Notifications; using Microsoft.IdentityModel.Protocols;

Is that thread supp

[2018-07-05 15:56] mwasham commented on #12
Nope.. it's the web app name that they created earlier in the lab.

[2018-07-05 15:56] #12 closed

[2018-07-05 16:25] DawnmarieDesJardins opened #15 "HOL - step-by-step incorrect numbering"
Need to review & correct numbering inside lab steps please.

Exercise 1, task 1 - step 10 jumps to 15 next, moves to step 19, then jumps to 21

Subtask 3 - after step 7 has an image at the end of a text line, no hard return and I think it's missing a step number.

Exercise 2, Subtask 2, step 5 is showing the backslash - 5. Click Save. \  those need to be removed and replaced with a hard return ple

[2018-07-05 16:31] DawnmarieDesJardins opened #16 "HOL - step-by-step"
Exercise 3, Task 3, step 8.  There's a random S underneath the image.

[2018-07-05 21:40] joelhulen commented on #1
I made this clear under the HOL section of the main readme file.

[2018-07-05 21:40] #1 closed

[2018-07-05 21:41] #2 closed

[2018-07-05 21:41] #3 closed

[2018-07-05 21:41] #4 closed

[2018-07-05 21:41] #5 closed

[2018-07-05 21:41] #6 closed

[2018-07-05 21:41] #7 closed

[2018-07-05 21:41] #8 closed

[2018-07-05 21:41] #9 closed

[2018-07-16 23:51] DawnmarieDesJardins commented on #15
Reopening, some items listed above missed in correcting.

[2018-07-18 21:43] #15 closed

[2018-09-21 23:06] deltadan opened #18 "Sept-2018-Test-Fix Ready for QA"
The Sept-2018-Test-Fix is ready for QA.  The compliance checks have run and they are passing.  Please let me know if you need anything.

Dan.

[2018-09-25 16:32] DawnmarieDesJardins opened #19 "WDS trainer presentation (PPT) & Preferred Solution (PPT)"
Slide 15 - missing alt-text
Slide 16 - alt-text is on each individual image but reader doesn't know how to read.  Image needs to be flat and alt-text updated
Slide 19 - same as above

All slides - please check all slides to make sure images are flat with alt-text.  Example, slide 4 has one box for the full image with correct alt-text, but there is also a box for the Contoso logo and a box for the

[2018-09-25 22:29] DawnmarieDesJardins commented on #18
Thanks Dan.  I opened two issues for you on this one.  There's some alt-text corrections that need to be sorted on the PPTs and two lines in the HOL if you could take a peek please.  (They might be fine, the formatting looks a little off to me so I'd like you to verify please.)  Once those two issues are closed, I'll merge and update HTML files.  Please email me the compliance check .xlsx and the

[2018-09-28 16:13] deltadan commented on #19
Updates completed fixing the Alt Text and to flatten images.

[2018-10-17 12:59] fasalzaman opened #21 "Lab guide need to be updated.( Steps related to : Azure Functions and Application insight)"
In Exercise 4 > Task 1 > Subtask 2 > Step 3

In the Azure portal, under the 'configure' menu, 'Getting started' option is not available

In Exercise 5 > Task 1 > Step 4

According to the lab guide, we should select 'Generic WebHook' option, which is not available in the Azure portal. The lab guide should get updated according to the latest Azure Portal updates.

[2018-10-18 22:44] DawnmarieDesJardins commented on #10
Closing...corrected in the September test/fix.

[2018-10-18 22:44] #10 closed

[2018-10-18 22:45] DawnmarieDesJardins commented on #18
Completed, closing issue.

[2018-10-18 22:45] #18 closed

[2018-10-18 22:45] DawnmarieDesJardins commented on #19
Completed, closing.

[2018-10-18 22:45] #19 closed

[2018-10-18 22:46] DawnmarieDesJardins commented on #21
Thanks fasalzaman.  This workshop will be going through a test/fix in November.  I've added the author for awareness.

[2018-10-22 14:08] andresravinet opened #22 "Subtask 2: Configure cross-origin resource sharing (CORS) - Step 2"
Hi.

Shouldn't Step 2 be the URL of the ContosoSports Web App URL, instead of the Offer API URL?

"In the ALLOWED ORIGINS text box, specify the URL of the Offers Web API App (can be found in the Overview link), and click Save."

[2018-10-22 14:11] andresravinet opened #23 "Checkout page - You must write ContentLength bytes to the request stream before calling [Begin]GetResponse."
I'm getting the following error message after clicking the Continue button on the Order Checkout page -

"Something went wrong...

Uh, oh! Something happened, and it might have been my fault...

Here are some potentially helpful details about what went wrong:
You must write ContentLength bytes to the request stream before calling [Begin]GetResponse.

Try going back and attempting again."

[2018-11-25 08:44] iizotov commented on #23
It's due to TLS 1.0, 1.1 reaching EOL. Modify the code as follows in /Helpers/PaymentGatewayFunctions.cs:
[code]

[2018-11-25 17:40] deltadan commented on #22
The instructions for this have been updated to say * instead of the URL mentioned in previous versions.

[2019-01-02 17:14] DawnmarieDesJardins commented on #22
Issue addressed, closing.

[2019-01-02 17:14] #22 closed

[2019-01-02 17:18] DawnmarieDesJardins commented on #23
@soupman98
Hi Steve,
Assigning to you for review/response.  Please let me know if the HTML docs need to be updated.
Dawnmarie

[2019-01-02 17:19] DawnmarieDesJardins commented on #21
@soupman98
Hi Steve,
Please verify this was addressed in the November test/fix and comment/close as necessary.

[2019-01-02 23:10] soupman98 commented on #21
I’ll jump on this tomorrow. I can’t recall specifically off hand if it was or not.

Sent from Mail<https://go.microsoft.com/fwlink/?LinkId=550986> for Windows 10

________________________________
From: Dawnmarie DesJardins <notifications@github.com>
Sent: Wednesday, January 2, 2019 11:19:47 AM
To: Microsoft/MCW-Modern-cloud-apps
Cc: Steve Campbell; Mention
Subject: Re: [Microsoft/MCW-Modern-cloud-

[2019-01-02 23:10] soupman98 commented on #23
I’ll take a look at this tomorrow.
Thanks.

Sent from Mail<https://go.microsoft.com/fwlink/?LinkId=550986> for Windows 10

________________________________
From: Dawnmarie DesJardins <notifications@github.com>
Sent: Wednesday, January 2, 2019 11:18:37 AM
To: Microsoft/MCW-Modern-cloud-apps
Cc: Steve Campbell; Mention
Subject: Re: [Microsoft/MCW-Modern-cloud-apps] Checkout page - You must write Con

[2019-01-03 09:54] fasalzaman opened #27 "Issue while doing tasks related to Azure functions."
While doing  > Exercise 5: Automating backend processes with Azure Functions and Logic Apps > Task 1 > step 10

Expand the Log pane on the bottom.

    Note: You should see several messages about downloading dependent assemblies such as the Azure SDK and iText Sharp that were defined in the project.json file.

Instead of the downloading messages I am getting the following error :

2019-01-03T09:26

[2019-01-03 17:53] soupman98 commented on #21
Thanks for you feedback and contribution @fasalzaman.
These have been addressed in the Nov 2018 updates for the MCW Cloud App materials

[2019-01-03 17:53] #21 closed

[2019-01-03 18:10] soupman98 commented on #23
@deltadan Can you take a look at the recommended fix and adjust the MCA Student Materials Zip payload for MCW/MCA. Thanks @iizotov for the (proposed) fix.

@deltadan I'll reach out to you directly as well.

[2019-01-03 18:15] soupman98 commented on #21
Hello and Happy New Year Dawnmarie,

This has been addressed in the November 2018 update.
I’ll look to close it as well in GH

Thanks
Steve Campbell

From: Dawnmarie DesJardins [mailto:notifications@github.com]
Sent: Wednesday, January 2, 2019 11:20 AM
To: Microsoft/MCW-Modern-cloud-apps <MCW-Modern-cloud-apps@noreply.github.com>
Cc: Steve Campbell <stevecampbell@outlook.com>; Mention <mention@nor

[2019-01-03 19:31] DawnmarieDesJardins commented on #27
@soupman98
Thanks fasalzaman.  We'll have the workshop author take a look.

[2019-01-04 16:37] deltadan commented on #27
This issue was replicated and a fix will need to be created.  For now, the Create PDF portion of the lab will not function properly.

[2019-01-04 16:38] deltadan commented on #23
The fix mentioned by @iizotov should work as it will build.  This issue will need to be investigated and fix provided in an updated version of the student files.

[2019-01-08 02:34] soupman98 commented on #23
The issue reported here (TLS version) has just been reproduced using the current Student Files payload indicated in the Before the HOL guide. It occurs as early as Exercise 1 when attempting to fully complete a shopping cart/transaction. Adding the line to the .cs indicated in this thread and re-publishing the Contoso.Apps.SportsLeague.Web via VS enable shopping to complete with not further action

[2019-01-09 11:12] fasalzaman commented on #27
Can you have the lab guide updated with these changes anytime soon?

[2019-01-09 14:06] soupman98 commented on #27
The TLS issue will *likely* get resolved via an update to the Student files.
I’m waiting to hear from the content owners and publishers what they want to do.

Sent from Mail<https://go.microsoft.com/fwlink/?LinkId=550986> for Windows 10

________________________________
From: fasalzaman <notifications@github.com>
Sent: Wednesday, January 9, 2019 5:12:36 AM
To: Microsoft/MCW-Modern-cloud-apps
Cc: S

[2019-01-10 01:56] waltermyersiii commented on #27
Dawnmarie, this is because the default is now V2 of Functions. So Joel's workaround will work for now until the next update includes the changes he outlined, which would include rewriting the functions which will take considerably more time.

[2019-01-10 02:00] waltermyersiii commented on #23
Yes, need to update the student files.

[2019-01-11 23:17] DawnmarieDesJardins commented on #23
@soupman98
Hi Steve,  Please make the changed to the student file and let me know when that's complete.  If this is something that we need to look into further at the next update, let me know and I'll mark the issue as an enhancement.

Same for open issue #27 - can we get both of these with one fix and dig deeper at the next update?

Thanks! Dawnmarie

[2019-01-15 21:32] soupman98 commented on #23
Hi Dawnmarie
I've got workarounds and a plan of action coordinated with Dan. Will be making edits to the MCW lab later today/tomorrow. Watch for merge/update request.
Soup

From: Steve Campbell <stevecampbell@outlook.com>
Sent: Friday, January 11, 2019 5:30 PM
To: Microsoft/MCW-Modern-cloud-apps <mcw-modern-cloud-apps@noreply.github.com>; Microsoft/MCW-Modern-cloud-apps <reply@reply.github.com>
Cc

[2019-01-17 21:32] soupman98 commented on #23
Issues 23 and 27 have been addressed and pushed. We ran into an issues with the size of the student files initially, but that was resolved.
We did inadvertently push direct to the master unintentionally when working thru the file size issues.
The net changes are:

  *   New Lab-files folder and a compressed copy of Student Files. This keeps all the content in one place
  *   TLS version changes in

[2019-02-15 21:51] DawnmarieDesJardins opened #28 "March 2019 - Scheduled content update"
@ZoinerTejada @joelhulen @kylebunting
Solliance team -
This workshop is scheduled for an update in March. Please update this issue with suggested content changes. Once done, we'll assign to our SME team for review and additional feedback.

[2019-03-06 18:52] mwasham opened #29 "Starter Solution is the finished solution"
Starter project is incorrect. It is actually not the starter project but the finished project.  It has code added in the exercises for Identity, existing publish profiles etc...

[2019-03-09 01:34] DawnmarieDesJardins commented on #29
@ZoinerTejada
Hi Zoiner, you're scheduled to do a March update on this one.  Please review Michael's comment.

[2019-03-18 04:07] ZoinerTejada commented on #28
The primary update suggested by the team is to upgrade to v2 of Azure Functions. It's a minor update, but we feel this one is pretty comprehensive. As always we are open to further input.

[2019-03-25 23:48] DawnmarieDesJardins commented on #28
@ZoinerTejada
Received lead sign off to move forward with this update with suggestions given.  Please see open issue #29 while updating.

[2019-04-01 18:13] timahenning commented on #29
I have fixed this in my upcoming update.

[2019-04-02 14:13] NoureenS opened #30 "VS2019 update?"
Will there be an update to VS2019 in this lab?

[2019-04-11 23:21] timahenning opened #31 "April 2019 test fix"

[2019-04-16 15:41] #31 closed

[2019-04-23 20:28] DawnmarieDesJardins opened #33 "Q4 - Content Update request"
Field request - content update request for Q4 update:

WDS trainer guide - Modern cloud apps
I see that you have Traffic Manager doing the load balancing.  I would suggest you change that to Azure Front Door or position it as an alternative.  TM does DNS based load balancing which has some problems when it comes to DNS caching and such.  AFD is the Microsoft answer to cloudflare and akamai.  It pr

[2019-05-06 22:39] DawnmarieDesJardins commented on #28
Closing as complete with March update

[2019-05-06 22:39] #28 closed

[2019-05-06 22:39] DawnmarieDesJardins commented on #29
Closing as addressed in March update

[2019-05-06 22:39] #29 closed

[2019-05-06 22:40] DawnmarieDesJardins commented on #30
Closing as addressed in March 2019 update

[2019-05-06 22:40] #30 closed

[2019-05-06 22:40] DawnmarieDesJardins commented on #33
Closing with March 2019 update.

[2019-05-06 22:40] #33 closed

[2019-07-09 17:31] richross opened #35 "MCW folder not present when initally logged into VM"
Hi - using this workshop as part of a customer lab.  One of the attendees created the VM and did not see the MCW folder after logging into the VM.  It took less than 5 minutes but the folder showed up on the c:\drive.  Is this expected behavior?
Great lab by the way!
Thanks!

[2019-07-09 17:55] kylebunting commented on #35
@richross, the files should _typically_ be there when users log in. However, looking at the script that runs when the VM is created for this lab, it downloads and installs SSMS, which in my experience can sometimes take 10 or 15 minutes to complete, before it downloads and unzips the lab files. So, it is entirely possible that a user logging into the VM as soon as it is provisioned, but before the

[2019-07-09 18:00] richross commented on #35
I can add this in as a note and do a PR if that would be helpful.

[2019-07-09 18:08] kylebunting commented on #35
I'll take care of adding the note, but thank you.

[2019-07-09 18:27] kylebunting commented on #35
@richross, I just added an image and note about the additional deployment task, and that users should wait for that task to complete before attempting to log into the LabVM. Closing this issue.

[2019-07-09 18:27] #35 closed

[2019-09-27 13:41] Gvashi opened #38 "Code is unable to save"
Exercide 5 :->Task 3:->subtask2:->step 35
That code is unable to save

[2019-09-27 15:34] timahenning commented on #38
Thank you for reporting this issue.  Please take a moment to review the help and support guidance.  https://microsoftcloudworkshop.com/  We will review your issue soon.

Can you provide a little more issue detail?  'That code is enable to save' indicates the code is working.  Did you mean to say is 'unable'?

Tim

[2019-09-27 15:52] Gvashi commented on #38
Hi
M sorry for that but it's unable.json file is unable to save.

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: Tim Henning <notifications@github.com>
Sent: Friday, September 27, 2019 9:05:01 PM
To: microsoft/MCW-Modern-cloud-apps <MCW-Modern-cloud-apps@noreply.github.com>
Cc: Gaurav Vashishta <Gaurav.Vashishta@spektrasystems.com>; Author <author@noreply.gi

[2019-10-01 03:57] crpietschmann commented on #38
This issue has been resolved.

The issue was caused by the old "Execute Stored Procedure" action no longer being available in the Logic App Designer. The "Execute Stored Procedure (V2)" action is now the only option for that Action, and the name of the action in the JSON is different as it contains a "(V2)" moniker that needed to be updated in the JSON changes for the HOL.

[2019-10-01 03:57] #38 closed

[2019-10-11 00:07] DawnmarieDesJardins opened #39 "November 2019 - Content update"
This workshop is scheduled for a content update. Solliance, please review the workshop and provide your update suggestions for SME review here.

[2019-10-18 21:31] crpietschmann commented on #39
Here are some suggested updates to make to the MCW:

1. In the "Before HOL" guide change the ARM Template deployment to use a "Deploy to Azure" link button that deep links into the Azure Portal automatically pulling in the ARM Template; just like the Azure Quickstart Templates does (https://azure.microsoft.com/en-us/resources/templates/ubuntu-desktop-gnome-rdp/). This will streamline the initial "

[2019-10-19 16:10] kylebunting commented on #39
@crpietschmann I would suggest we also include the following in the update:

1. For both the WDS and HOL documents, you should include a statement in the `Requirements` section that they need to have sufficient permissions in their Azure Subscription Azure AD tenant to create users and set up Azure AD B2C.

2. Move all resource provisioning into the before the hands-on lab document. Preferably, it

[2019-10-29 23:48] DawnmarieDesJardins commented on #39
Hello, We have lead approval to move forward with an update draft.  Thank you!

[2019-10-30 02:31] crpietschmann commented on #39
@kylebunting Thanks for the input on updates to make. I'll look at incorporating these, as they are good ideas for a  "modern cloud app". I'll just need to make sure everything will fit into the lab time, and it doesn't make the lab too long. I don't think it'll be an issue, but I'll assess appropriately before incorporating changes.

[2019-12-02 12:07] jamespearse80 opened #41 "Exercise 1 - task 6 - subtask 2"
I have run through all the content and deployed the applicable services. When I go to checkout (with default values) I get an checkout error "no valid combination of account information found"

[2019-12-02 14:48] jamespearse80 commented on #41
As an FYI I am carrying out a cut down version of this workshop next week for the International Red Cross (just doing Exercise 1) - I have built my own lab out to try everything out, all goes well until the last task (as mentioned above)

[2019-12-02 18:40] timahenning commented on #41
Thank you for reporting this issue.  Please take a moment to review the help and support guidance.  https://microsoftcloudworkshop.com/

Having specific lab section references and screenshots will help expedite support. We will review your issue soon.

Tim

[2019-12-02 19:46] crpietschmann commented on #41
@jamespearse80 I am unable to duplicate this error. Could you post a screenshot of the error message? Also, have you verified all the configuration settings are set correctly on the web apps?

[2019-12-03 08:22] jamespearse80 commented on #41
@crpietschmann Thanks for looking!! you are correct, I went back through the lab step by step and discovered that I had inadvertently copied the storage key and not the connection string (Task 1 - subtask 2) after changing this it worked as expected :)

Many thanks

[2019-12-03 08:22] #41 closed

[2019-12-10 22:52] crpietschmann opened #42 "Change from Storage Queues to use Service Bus instead"
Change from using Storage Queues to using Service Bus or Event Grid for the messaging that kicks off the Logic App and Azure Function for a more modern Event Driven Serverless architecture. Ideally Event Grid would be best for the modern serverless approach. However, to be more of an "enterprise" solution the use of Service Bus could be done as well.

Before making the change, please assess which

[2019-12-10 22:52] crpietschmann opened #43 "Add use of Key Vault for securing application secrets"
Add the use of Key Vault for securing application secrets.

- For all steps that require adding connection strings into App Service configuration settings, use Key Vault references. This should also be mentioned in the whiteboard design documents, as it allows secrets to be managed and provided to applications without developers ever needing to see or know the secrets.
- Set up managed identities

[2019-12-10 22:54] crpietschmann opened #44 "Change to use SQL Database auto-failover groups"
For Exercise 1, Task 2:

- Change this to use auto-failover groups. Failover using this is fast, so it can be tested within the time constraints of the lab.
- Have users update the connection string of the e-commerce website to use the read-write listener endpoint of the failover group. (This would happen in Key Vault and provide a new version of the secret.)
  - Include `ApplicationIntent=ReadOnl

[2019-12-10 22:57] crpietschmann commented on #39
The items that were suggested here that were not able to be added / modified with the November 2019 (via PR #40 ) update have been added as Issues to this repo. This will ensure they aren't forgotten and we can track them for a future round of updates / changes to the MCW.

[2019-12-12 00:39] mapoitras opened #45 "No Data in Database. No Products. Connection String good."
When I complete the steps, there is no data in the Database.  So no products.  I have verified the connection strings with App Service Diagnostics.  I know its right.  I tried twice and got same result both times.  Is there supposed to be a load script of some sort?

[2019-12-12 22:03] DawnmarieDesJardins commented on #45
@mapoitras @timahenning
Thanks Marc-Andre - we have an update ready to QC/merge that may fix this issue.  Please stay tuned.
Tim - please verify, after the PR is merged, and resolve as needed.

[2019-12-16 22:44] crpietschmann commented on #45
I have run through the MCW and everything had worked as expected for me. That said, the latest update to the MCW, that should be merged soon, includes changes that migrate the application code to ASP.NET Core and .NET Core. In order to perform the update I needed to verify that everything worked with the new code too.

The app uses EF to automatically seed that database with data the first time th

[2019-12-18 02:11] DawnmarieDesJardins commented on #39
Closing issue with PR #40 merge

[2019-12-18 02:11] #39 closed

[2019-12-18 02:12] DawnmarieDesJardins commented on #45
Closing as resolved with recent November update - PR #40 merge.
@mapoitras please let us know if you are still having trouble.

[2019-12-18 02:12] #45 closed

[2020-01-20 13:45] Suraj2093 opened #46 "Web App not opening after publishing it with the correct connection strings"
In Exercise 1 subtask 4, the Web App not opening after publishing it with the correct connection strings. When we try to open the web app in a browser, it displays as follows

![image](https://user-images.githubusercontent.com/30050847/72731183-30af3a00-3bb9-11ea-8330-677014b99564.png)

[2020-01-21 19:29] crpietschmann commented on #46
Makes sure there aren't any errors in the config file and the connection strings are set correctly.

I have seen this error come up some times, and to fix it I needed to Restart the App Service for the app and redeploy the code. There have been times where I had to delete the App Service Web App resource in Azure, and create a new one, deploy, and then it worked.

Here's the troubleshoot descripti

[2020-01-22 22:09] christiannagel opened #47 "Database initialization in Contoso.Apps.SportsLeague.Admin"
In the Startup class of the project Contoso.Apps.SportsLeague.Admin, the ProductContext can be disposed before the Configure method is completed.
The Configure method is not awaited.

Options for a fix:

-  using Wait() like in the project Contoso.Apps.SportsLeague.Web
- using await
- injecting the ProductContext with the Configure method of the Startup class

[2020-01-23 08:40] christiannagel commented on #47
There's the same issue with the Contoso.Apps.SportsLeague.Offers API project in the Configure method of the Startup class.

[2020-01-23 13:34] SeeratArora opened #48 "Exercise 4: Task 2: VSTS Account creation failed"
[Exercise 4: Task 2:](https://github.com/microsoft/MCW-Modern-cloud-apps/blob/master/Hands-on%20lab/HOL%20step-by-step%20-%20Modern%20cloud%20apps.md#subtask-1-create-the-load-test) The account creation is failing and giving error message: **VSTS Account creation failed**

![image](https://user-images.githubusercontent.com/50323628/72988824-0a84d680-3e13-11ea-9119-460a5a29bdf5.png)

Can you please

[2020-01-27 09:32] SeeratArora commented on #48
Do we have any updates on this?

[2020-01-27 16:28] timahenning commented on #48
We have submitted a PR today. It should be published today or tomorrow.

[2020-01-28 06:46] christiannagel opened #49 "Change Azure Data Warehouse to Azure Synapse Analytics"
With the whiteboard design session, in the slides and in [WDS student guide](https://github.com/microsoft/MCW-Modern-cloud-apps/blob/master/Whiteboard%20design%20session/WDS%20student%20guide%20-%20Modern%20cloud%20apps.md) the term **Azure Data Warehouse** is used. This has been renamed to **Azure Synapse Analytics**.

See: https://azure.microsoft.com/en-us/blog/azure-sql-data-warehouse-is-now-az

[2020-01-28 07:52] christiannagel opened #50 ".NET Core 3.0 End of Support March 3, 2020"
With .NET Core 3.0 end of support on March 3, 2020 it would be a good idea to update the sample app to .NET Core 3.1.

[.NET Core Support Policy](https://dotnet.microsoft.com/platform/support/policy/dotnet-core)

I can create a pull request.

[2020-01-28 11:52] Gvashi opened #51 "Web App not opening after publishing it with the correct connection strings"
In Exercise 1 subtask 4, the Web App not opening after publishing it with the correct connection strings. When we try to open the web app in a browser, also tried to Restart the App Service for the app and redeploy the code. it displays as follows
![012354100](https://user-images.githubusercontent.com/53901647/73261744-b30baf80-41f2-11ea-9439-19a2cc18817e.JPG)

[2020-01-28 19:48] thiagofborn commented on #51
Hi,

I'm having the same experience.  I need to debug further, but I guess it is related to the **EasyAuth** library:

Reference:
 <https://github.com/MaximRouiller/MaximeRouiller.Azure.AppService.EasyAuth>

[2020-01-28 22:11] crpietschmann commented on #50
The next update for this one should include this change to update the app to .NET Core 3.1; which is an LTS release. We'll have to consider this for the next update to the MCW. Thanks for bringing this up!

Also, for reference, here's a page that as a list of the LTS released and support dates of .NET Core: <https://dotnet.microsoft.com/platform/support/policy/dotnet-core>

[2020-01-28 22:12] crpietschmann commented on #47
Thanks for brining this up. We'll look at this update when we assess the next update to this MCW.

[2020-01-28 22:16] crpietschmann commented on #51
Make sure there aren't any errors in the config file and the connection strings are set correctly.

I have seen this error come up some times, and to fix it I needed to Restart the App Service for the app and redeploy the code. There have been times where I had to delete the App Service Web App resource in Azure, and create a new one, deploy, and then it worked.

Here's the troubleshoot descriptio

[2020-01-29 06:15] akn9050 commented on #48
hi @timahenning any update on this

[2020-01-29 10:30] Gvashi commented on #51
Exercise 1:task 2: subtask 5
Your solution is not working it is showing the same error
![0](https://user-images.githubusercontent.com/53901647/73349037-743c2f00-42b0-11ea-86d1-5f20bd96b9f7.JPG)

Can you please look into this.

[2020-01-29 12:13] christiannagel commented on #47
With the next update it's probably a good idea to change the initialization of the database to use the EF Core seeding feature (HasData on configuring of the model in the context-class) instead of the current implementation.

[2020-01-29 12:18] christiannagel commented on #51
I think this is a duplicate of #46

[2020-01-29 12:21] Gvashi commented on #51
Yes,
But in different step

[2020-01-29 14:23] crpietschmann commented on #48
Hi @akn9050, I have tested this myself and everything seems to be working as expected. I'm suspecting this might be some kind of transient error within the Azure Portal. Have you tried creating the DevOps Organization again?

If it keeps failing for you, you may want to file a support ticket with Azure Support to so they can look at it. Thanks!

[2020-01-29 14:23] #48 closed

[2020-01-29 14:24] crpietschmann commented on #48
Hi @akn9050 and @SeeratArora, I have tested this myself and everything seems to be working as expected. I'm suspecting this might be some kind of transient error within the Azure Portal. Have you tried creating the DevOps Organization again?

If it keeps failing for you, you may want to file a support ticket with Azure Support to so they can look at it. Thanks!

[2020-01-29 14:38] crpietschmann commented on #49
I just submitted a commit that includes this rebranding change to the WDS guides and slides to change the product name from "Azure SQL Data Warehouse" to "Azure Synapse Analytics".
Thanks for pointing this one out!

[2020-01-29 14:38] #49 closed

[2020-01-30 13:34] #51 closed

[2020-01-31 15:57] thiagofborn commented on #47
Is there any chance of this issue be fixed before February 7?

Or if you guys don't mind, would it be possible to have the Startup class source changes shared with me?

[2020-01-31 18:58] crpietschmann commented on #47
I added the `.Wait()` call to the Admin Startup.cs and committed this change to the repo. This is the simplest solution to the issue brought up.

I'm not sure exactly how much work to move to EF Core seeding will be involved at this time; without further evaluation. I think we'll need to assess this when we go to do the next update of the MCW, and see if it fits within the time/budget allocated al

[2020-01-31 19:03] timahenning opened #52 "With the next update it's probably a good idea to change the initialization of the database to use the EF Core seeding feature (HasData on configuring of the model in the context-class) instead of the current implementation."
With the next update it's probably a good idea to change the initialization of the database to use the EF Core seeding feature (HasData on configuring of the model in the context-class) instead of the current implementation.

_Originally posted by @christiannagel in https://github.com/microsoft/MCW-Modern-cloud-apps/issues/47#issuecomment-579728704_

[2020-01-31 19:06] timahenning commented on #47
I have created a new issue with this request.

[2020-02-03 14:34] Gvashi opened #53 "Failed to publish the Contoso.Apps.SportsLeague.Admin"
Exercise 1:- Task 3:- subtask 3 :- while publishing the Contoso.Apps.SportsLeague.Admin web application it is showing an error ... after updating the nuget package publishing of the application  was successful but no content was there in webpage

[2020-02-03 18:26] thiagofborn commented on #53
Hi Team.

I hope you guys are doing fine.

It is to complete the @Gvashi narrative:

After adding the "EasyAuth" dependency, the response is an "error 401".  It seems to be a lack of authorization, caused by some incompatibility between the way the class handles the authorization.

Once we comment the EasyAuth at line 32 File Startup.cs:

[code]
 And line 20 on the file ../Controllers/HomeControll

[2020-02-03 18:48] timahenning commented on #47
Chris updated Startup.cs as requested.  I created a new issue enhancement for EF Core seeding.

[2020-02-03 18:48] #47 closed

[2020-02-03 18:50] timahenning commented on #46
Closing issue as no further response from the field.  I will reopen if needed.

[2020-02-03 18:50] #46 closed

[2020-02-04 08:00] Gvashi commented on #53
Hi
@timahenning  is there any update .

[2020-02-04 13:33] Gvashi commented on #53
@timahenning  any update on that , even the EasyAuth classes files are blank.

[2020-02-04 16:48] thiagofborn commented on #53
@Gvashi, you probably will run into another issue with at "Task 5: Deploying the Offers Web API".

I have managed to "fix it":  Reference: [ Cloned: [1](https://github.com/thiagofborn/MCW-Modern-cloud-apps)]

[2020-02-09 20:33] christiannagel opened #54 "Azure AD B2C Exercise 3"
Exercise 3 has some issues.

## Task 5
Task 5 mentions to add `UseAuthorization`. However, this API call is already in the source code. Instead, `UseAuthentication` needs to be added.

In the `ConfigureServices` method, the information to add `AddAuthentication` is missing. I was successful in adding this (this is the same code as generated from the default template when selecting Azure AD B2C for

[2020-02-09 21:35] christiannagel commented on #54
To reduce the amount of time needed to implement B2C, with ASP.NET Core it is not necessary to create an Account controller. Instead the pre-built library implementation can be used.
To see this, with the ASP.NET Core MVC project template, selecting authentication with Azure B2C defines the code needed.

All what needs to be done with the implementation (other than the configuration) is to change

[2020-02-10 14:20] christiannagel opened #55 "Exercise 1, Task 5: Offers Web API UseCors"
With ASP.NET Core 3.x, the `UseCors` API Contoso.Apps.SportsLeague.Offers, Startup.cs needs to be positioned after UseRouting and before UseEndpoints. Cors errors are returned otherwise.

See this documentation:
https://docs.microsoft.com/en-us/aspnet/core/migration/22-to-30?view=aspnetcore-3.1&tabs=visual-studio#migrate-startupconfigure

[2020-02-10 14:45] christiannagel opened #56 "async issue with Edit in CartController"
The `Edit` method (HttpPost version) in the CartController (project Contoso.Apps.SportsLeague misses an **await** on _db.SaveChangesAsync. This leads to rollbacks because the context is disposed before the method is completed.

The await keyword should be added (the method is already in async scope).

CartController.cs:
await _db.SaveChangesAsync();

[2020-02-11 14:51] estensen commented on #43
Wouldn't it be better to use Managed Identity instead of storing the database connection in Key Vault? To get automatically key rotation and not having to expose it to put it in Key Vault.

[2020-02-14 22:52] DawnmarieDesJardins commented on #53
@timahenning @crpietschmann
Please review & advise

[2020-02-14 22:52] DawnmarieDesJardins commented on #54
@timahenning @crpietschmann
Please review & advise

[2020-02-14 22:53] DawnmarieDesJardins commented on #55
@timahenning @crpietschmann
Please review & advise

[2020-02-14 22:53] DawnmarieDesJardins commented on #56
@timahenning @crpietschmann
Please review & advise

[2020-02-20 14:43] timahenning commented on #56
We need to test the fixes and run the entire lab.  We should have an update by this weekend.

[2020-02-26 22:47] crpietschmann commented on #53
I committed a fix for the "empty" EasyAuth code files (commit #86daab1). This should fix the issue. I'm leaving this Issue open for now, as I'm going to run through this one again to make sure that fixed it.

[2020-02-26 22:52] crpietschmann commented on #55
I made this change. Thanks!

[2020-02-26 22:52] #55 closed

[2020-02-26 22:54] crpietschmann commented on #56
I have made this change. Thanks!

[2020-02-26 22:54] #56 closed

[2020-02-26 23:09] crpietschmann commented on #43
@estensen Using Managed Identity is a nice idea to add. However, with the current length of the lab, I believe adding the steps in for this in addition to everything else will make the lab too long in duration. Also, with the app using .NET Core 3 and the documentation listed .NET Core 2.2; we'd also have to make sure this will work with .NET Core 3.

For reference, here's a docs article on settin

[2020-02-26 23:12] crpietschmann commented on #42
In my opinion, updating to use Service Bus Queue would be the most appropriate. The majority of enterprise systems would be most appropriate with Service Bus Queues; at least more than will likely require going to Event Grid.

[2020-02-26 23:20] crpietschmann commented on #52
This change makes sense being the app is now .NET Core. Thanks @christiannagel

Here's a documentation link: <https://docs.microsoft.com/en-us/ef/core/modeling/data-seeding>

[2020-02-26 23:23] crpietschmann commented on #54
Thanks @christiannagel for the suggestions. We'll incorporate these changes into the next update.

[2020-02-26 23:24] crpietschmann opened #58 "March 2020 Updates"
Here's a list of updates I propose to make to the Modern cloud apps MCW for the March 2020 update:

_Update in Progress: This update is currently being worked on, and this Issue will be updates with status of changes that have been made in the `Update-March-2020` branch_

- Update the apps to .NET Core 3.1 LTS (Issue #50)
  - The apps have been updated to .NET Core 3.1, with the Azure Function upd

[2020-02-27 00:52] miaojiang opened #59 "Add Azure API Management to the lab"
Please add Azure API Management to the lab.

cc @vladvino

[2020-03-11 00:00] crpietschmann commented on #50
This is being incorporated in the update, as listed in Issue #58

[2020-03-16 11:06] SeeratArora commented on #53
[Exercise 1: Task 3: Subtask 3:](https://github.com/microsoft/MCW-Modern-cloud-apps/blob/master/Hands-on%20lab/HOL%20step-by-step%20-%20Modern%20cloud%20apps.md#subtask-3-deploy-the-call-center-admin-web-app-from-visual-studio)

[2020-03-16 18:46] timahenning commented on #53
@SeeratArora Is this new comment related to the commit that Chris referenced above?

Tim

[2020-03-17 10:57] SeeratArora commented on #53
Yes @timahenning , can we get updates in this?

[2020-03-17 14:54] crpietschmann commented on #53
Sorry for the delay, I'm currently working on updating this MCW, and will get any issue here resolved soon. I'll update you here, when that is completed.

[2020-03-17 19:12] DawnmarieDesJardins commented on #53
@SeeratArora @crpietschmann
Hi Seerat.  Are you testing this lab for upcoming presentations?

[2020-03-17 19:14] SeeratArora commented on #53
Hi Dawnmarie,

Yes I'm testing this for upcoming presentations.

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: Dawnmarie DesJardins <notifications@github.com>
Sent: Wednesday, March 18, 2020 12:42:21 AM
To: microsoft/MCW-Modern-cloud-apps <MCW-Modern-cloud-apps@noreply.github.com>
Cc: Seerat <seerat@spektrasystems.com>; Mention <mention@noreply.github.com>

[2020-03-17 19:46] aautere commented on #53
I'm having the same issue as Seerat in 1.3.3. (also the commenting of line 20 helped with the exception). I would be really nice if you get this resolved. I'm having this workshop with a client this weeks Thursday.  I understand that it might come a bit too quickly, so no worries if it takes longer :)

[2020-03-17 20:23] DawnmarieDesJardins commented on #53
Hi gentlemen!  We are currently working on a quarterly update to this workshop but it won't be complete until the first part of April.  In the meantime, our author is working on a fix for this issue and will have this out as soon as possible, thank you for your patience.

[2020-03-18 15:31] aautere commented on #54
I had some hard time with the Exercise 3 so we made some improvements with [juunas1](https://github.com/juunas11) (or it was mainly juunas11 who did these 😄). Feel free to [use them](https://github.com/aautere/MCW-Modern-cloud-apps/commits/master/Hands-on%20lab/HOL%20step-by-step%20-%20Modern%20cloud%20apps.md) if you like :)

[2020-03-19 00:51] andresmmujica commented on #53
We can confirm that this issue gets solved by commenting on line 20 and removing that comment just before testing authentication in the web site.

[2020-03-19 01:28] crpietschmann commented on #54
@christiannagel  Do you have a full example app for using Azure AD B2C with ASP.NET Core 3.1? No matter what I do, the Signin/Signup pages in the site always give a 404 response. When using the `Challenge` methods (as I modified the lab) the ChallengeResult returns a 404 to the browser. I also created a brand new project using Visual Studio and it even returns 404 responses for the `/AzureADB2B/Ac

[2020-03-19 01:31] crpietschmann commented on #58
@DawnmarieDesJardins @timahenning I have the update in the `Update-March-2020` branch ready with the exception of the Azure AD B2C Auth part, that just seems broken in .NET Core 3.1 (I left a comment and question to Issue #54 in case Christian has any insights that'll help.

Also, mostly due to troubleshooting the Auth issues, I wasn't able to get to the KeyVault (#43) and EF Core Seeding (#52) ch

[2020-03-19 01:36] crpietschmann commented on #53
I commented out Line 20 as mentioned above and committed it to master. I'll made that change first, to help you with the issue. I will still be running through the app to make sure I can validate this.

[2020-03-19 01:41] crpietschmann commented on #44
This has been incorporated as part of the March 2020 update (#58), so I'm closing this Issue out.

[2020-03-19 01:41] #44 closed

[2020-03-19 01:41] crpietschmann commented on #50
This has been incorporated as part of the March 2020 update (#58), so I'm closing this Issue out.

[2020-03-19 01:41] #50 closed

[2020-03-19 01:41] crpietschmann commented on #42
This has been incorporated as part of the March 2020 update (#58), so I'm closing this Issue out.

[2020-03-19 01:41] #42 closed

[2020-03-19 03:27] andresmmujica commented on #54
@crpietschmann take a look at @aautere commits in his fork, you'll be able to resolve those 404 errors.

[2020-03-19 11:02] christiannagel commented on #54
@crpietschmann I had it running in a branch in my fork as well:  https://github.com/christiannagel/MCW-Modern-cloud-apps.

Did you get the 404 errors when running the application on the local system? Then the URL needs to be modified in the app registration.

The lab now includes signup/sign-in and edit user flows. but not a reset password user flow. Signup/sign-in and reset password are mandatory

[2020-03-19 15:43] christiannagel commented on #54
@crpietschmann, I've created a pull request to your branch with changes on the Lab.

I had one other sample where I didn't use the custom Account controller but the built-in user interfaces. This requires the reset password user flow. With the custom Account controller this flow is not needed.

With the pull request I've changed the labs for the Account controller with changes to invoke the Challe

[2020-03-19 16:00] crpietschmann commented on #54
@christiannagel I added steps to create the Password reset policy, as that really should be there anyway. Although that didn't fix things for me. And, I'm running it in the App Service when I get 404's, just to clarify. I'm going to keep troubleshooting this for now, please update me with any insights you find. Thanks!

[2020-03-19 16:22] crpietschmann commented on #58
As previously mentioned, I was able to get the Azure AD B2C stuff working with some help from @christiannagel. I updated the main description of this issue to reflect that.

[2020-03-19 16:24] crpietschmann commented on #54
@christiannagel Thanks! I went through your changes, fixed my branch, and got it working! :) One thing was the `AzureADB2C:Instance` was pointing to the wrong URI. Thank you very much for the help!

I'm closing this issue now that the changes have been incorporated into the `Update-March-2020` (#58) branch, and this has been fixed.

[2020-03-19 16:24] #54 closed

[2020-03-19 16:52] crpietschmann commented on #53
@andresmmujica @aautere @SeeratArora I have confirmed that commenting out Line 20 in the Admin `HomeController.cs` does appear to fix the issue. Since I made that quick change yesterday already in master, you should already have the fix in place for anyone delivering this today. :)

FYI @DawnmarieDesJardins

[2020-03-19 16:53] christiannagel opened #61 "Add Azure App Configuration"
With the next round of updates I think it would be a good idea to add **Azure App Configuration**. With this service all configurations for the solution can be retrieved. With secrets, *Azure App Configuration* can be configured to access the *Azure Key Vault*.

See: https://docs.microsoft.com/en-us/azure/azure-app-configuration/overview

[2020-03-19 16:55] andresmmujica opened #62 "Exercise 5 - Task2 - SQL UPDATE not available. Only v2 is available"
Hi guys, we're having an issue with the Exercise 5   Task  2, the widget requested seems to be not longer available, and it's not clear how to configure it.  Please advice.

[2020-03-19 17:01] crpietschmann commented on #62
@andresmmujica Yes, the SQL Update action within Logic Apps has been removed for new Logic Apps, and only the V2 action is currently available. It works the same, but the JSON definition is slightly different. Feel free to reference the [Update-March-2020 branch](https://github.com/microsoft/MCW-Modern-cloud-apps/tree/Update-March-2020) as that has been recently updated with the current state as p

[2020-03-19 17:03] andresmmujica opened #64 "Exercise 5 Task 2 - QUEUES not working"
We're not able to see the messages in the blob neither the PDF files, it works for the manual test of the PDF Function, it leaves the PDF file in the Message queue inside the blob.  However, when we click play on the Logic App it shows a success message but it doesn't generate any message in the queue neither a PDF file in the blob.

[2020-03-19 17:22] crpietschmann commented on #58
FYI, When testing this update, please download the Student Files .zip file from the Update-March-2020 branch on the LabVM. As, the LabVM ARM Template script will be downloading the file from 'master'; which is the wrong one for this branch. I left the script pointing to 'master' so we don't need to update it when the PR is merged.

[2020-03-19 17:43] andresmmujica commented on #62
awesome ! thanks :)

[2020-03-19 18:07] crpietschmann commented on #64
When submitting the order the Phone number field isn't populated, but is required for the submission to go through correctly. Be sure to enter that field, and it should work.

[2020-03-19 18:09] crpietschmann commented on #64
I updated the student files to include this fix, so the field will default to have a value.

[2020-03-19 18:11] #62 closed

[2020-03-19 20:12] andresmmujica opened #65 "Missing Service Bus Queue in Resources deployed during the lab - queue issues"
Hey guys, we still have queue issues and following the update, we identified that this is not created:

Task 1: Deploy the e-commerce website, SQL Database, and storage
Subtask 3: Retrieve Service Bus Queue Connection String

this is the object we cannot find and we're not sure how to create it from scratch.

https://raw.githubusercontent.com/microsoft/MCW-Modern-cloud-apps/Update-March-2020/Hands

[2020-03-20 01:11] crpietschmann commented on #65
The ARM Template located within the "Update-March-2020" branch to setup the environment includes creating the Service Bus Namespace and Queue resources. Make sure you copy the files from there, as the LabVM ARM Template is pointed to pull .zip files from 'master' branch so there's no conflict when these changes are merged later.

[2020-03-31 19:05] #64 closed

[2020-03-31 19:05] #65 closed

[2020-04-03 13:15] timahenning commented on #53
Fix delivered and no further comments from the field.

[2020-04-03 13:15] #53 closed

[2020-04-13 23:50] #58 closed

[2020-04-13 23:51] crpietschmann commented on #43
Also, mostly due to troubleshooting the Auth issues, I wasn't able to get to the KeyVault (#43) and EF Core Seeding (#52) changes in the March 2020 Update, so those will need to be left for a future update/fix cycle.

[2020-04-13 23:51] crpietschmann commented on #52
Also, mostly due to troubleshooting the Auth issues, I wasn't able to get to the KeyVault (#43) and EF Core Seeding (#52) changes in the March 2020 Update, so those will need to be left for a future update/fix cycle.

[2020-04-27 06:32] SeeratArora opened #66 "Exercise 3: Task 9: The Sign Up, Sign In and Claims page is not loading as required."
[Exercise 3 :Task 9:](https://github.com/microsoft/MCW-Modern-cloud-apps/blob/master/Hands-on%20lab/HOL%20step-by-step%20-%20Modern%20cloud%20apps.md#task-9-run-the-sample-app) The Sign Up, Sign In and Claims page is not working properly as mentioned in the lab guide. It gets directed to the page showing 'Today's offers'(as shown below):

![image](https://user-images.githubusercontent.com/50323628

[2020-04-29 21:28] christiannagel opened #67 "Exercise 4 - Telemetry with Application Insights using obsolete TelemetryClient"
In exercise 4, task 1, the NuGet package Microsoft.ApplicationInsights.Web is used. The constructor used in subtask 1, step 7 is marked as obsolete.
Instead, the NuGet package Microsoft.ApplicationInsights.AspNetCore should be used:
https://docs.microsoft.com/en-us/azure/azure-monitor/app/asp-net-core

Also, see [Deprecating TelemetryConfiguration.Active singleton](https://github.com/microsoft/App

[2020-04-30 18:44] christiannagel commented on #66
I agree, the text for exercise 3, task 2 should be changed to include signin-oidc-b2c with the URL.

[2020-05-08 16:59] crpietschmann commented on #66
Thanks @christiannagel for the validation. I do remember this setting, but not sure how it slipped through without the path on the domain name. I just committed a fix to the repo, so this will be fixed now.

[2020-05-08 16:59] #66 closed

[2020-06-22 08:05] SeeratArora opened #68 "Exercise 4: Task 2: Creating the web performance test and load test"
[Exercise 4: Task 2:](https://github.com/microsoft/MCW-Modern-cloud-apps/blob/master/Hands-on%20lab/HOL%20step-by-step%20-%20Modern%20cloud%20apps.md#task-2-creating-the-web-performance-test-and-load-test) Performance Testing is not available in the portal.

![image](https://user-images.githubusercontent.com/50323628/85261240-7edaa900-b489-11ea-8eee-8fe063a10597.png)

Please review this.

Thanks,

[2020-06-22 13:31] crpietschmann commented on #68
The "Performance Testing" feature of Application Insights has been deprecated by Microsoft and has been recently removed. I am currently working on the latest revision to this MCW, and these steps will be removed from the next update to reflex these feature changes in the service.

[2020-06-22 13:31] #68 closed

[2020-07-07 13:53] eliesadjal opened #70 "Exercice 1 Task 1 Step 9 : HTTP Error 500.30 - ANCM In-Process Start Failure"
Hello,
When I Publish my app, VisualStudio2019 tells me that my app has been succesfully published and do not show me any error/warning.
The problem is, when I go to my Web Browser to see my app, I have this error (HTTP Error 500.30 - ANCM In-Process Start Failure) so I can not access to my web app. (I tried to use an other Web Browser, and to launch the app from the Azure portal, same result)
So

[2020-07-08 19:56] codingbandit commented on #70
@eliesadjal - please ensure that you replaced the password  token in the connection string with demo@pass123

[2020-07-09 22:57] crpietschmann commented on #70
Some times this error happens the first time you deploy your app to Azure App Service. I'm not sure what causes it, but setting the deployment to remove existing files before copying the new files will resolve it. Here's an explanation of this: <https://build5nines.com/fix-net-core-http-error-500-30-after-publish-to-app-service-from-visual-studio/>

[2020-07-20 15:50] timahenning commented on #70
Closing this issue due to lack activity.  If this continues to be a problem, we can reopen the issue.

[2020-07-20 15:50] #70 closed

[2020-07-31 17:22] DawnmarieDesJardins commented on #43
Closing issue as complete with merge of PR #71

[2020-07-31 17:22] #43 closed

[2020-07-31 17:23] DawnmarieDesJardins commented on #52
Closing issue as complete with merge of PR #71

[2020-07-31 17:23] #52 closed

[2020-07-31 17:23] DawnmarieDesJardins commented on #61
Closing issue as complete with merge of PR #71

[2020-07-31 17:23] #61 closed

[2020-07-31 17:24] DawnmarieDesJardins commented on #67
Closing issue as complete with merge of PR #71

[2020-07-31 17:24] #67 closed

[2020-09-01 08:00] bonzz opened #72 "various issues faced"
Hi All,
1)
**[exercise1,task1,subtask1]**(https://github.com/microsoft/MCW-Modern-cloud-apps/blob/master/Hands-on%20lab/HOL%20step-by-step%20-%20Modern%20cloud%20apps.md#subtask-1-configure-sql-database-firewall-and-retrieve-connection-string)

here in step 8, we are asked to add the client IP address and when doing that when we try to publish the admin call center application, was not able to pub

[2020-09-09 01:36] crpietschmann commented on #72
1. In Ex 1, Task 1, Subtask 1, it is having you configure the firewall for the SQL Database. You need to add your machines IP address so that you can connect to the database. Adding just your IP address enables just your machine to connect. Adding the range of 0.0.0.0 - 255.255.255.255 will enable any IP address on the Internet to connect.

[2020-09-09 03:25] crpietschmann commented on #72
@timahenning We will need to escalate the issue of the "Run user flow" dialog being empty. The [documentation](https://docs.microsoft.com/en-us/azure/active-directory-b2c/tutorial-create-user-flows) shows this dialog should not be empty after configuring User flows, and something seems to not be working correctly.

[2020-09-14 18:39] timahenning commented on #72
@bonzz We are reaching out to MS resources that can address Azure issue.

[2020-09-24 04:53] akn9050 commented on #72
hi, please let us know if any update on this.

Thanks,
Amit

[2020-09-24 16:00] timahenning commented on #72
@akn9050 Hi, I am assuming you are referring to the Run user flow instruction.  This is an Azure controlled screen.  Have you tried it again?

[2020-09-29 23:22] DawnmarieDesJardins commented on #72
@akn9050
Hi Amit!  Have you tried running the lab again?

[2020-10-02 23:36] DawnmarieDesJardins commented on #72
Closing issue, @akn9050 please reopen if you run the lab again and get the same response.

[2020-10-02 23:36] #72 closed

[2020-12-29 23:17] mreherefortea opened #74 "Clarification"
Hello Team:

I noticed that in the requirements section of the before you begin, it calls for Windows Server 2016 as shown below:

![image](https://user-images.githubusercontent.com/41710326/103320091-bbb7c780-49f9-11eb-9b90-5debfd84f96b.png)

The ARM template deploys Server 2019, I assume that 2019 can be leveraged?  I just wanted to clarify please. Thank you for your time!

[2021-01-04 19:53] saimachi commented on #74
Hello @mreherefortea,

Yes, Windows Server 2019 should work correctly, given that most of the work performed in the VM involves Visual Studio. I have opened a PR with this clarification.

[2021-01-04 20:51] DawnmarieDesJardins commented on #74
Closing issue as resolved with merge of PR #75
Thank you!

[2021-01-04 20:51] #74 closed

[2021-02-01 14:41] Eddevinc opened #76 "Issue in exercise 3, task 3, step 7: no disable option available for MFA."
in exercise 3, task 3, step 7: no disable option available for MFA.

![image](https://user-images.githubusercontent.com/32365275/106473260-98d17500-64c9-11eb-9139-951306d1c3c1.png)

[2021-02-01 14:44] Eddevinc opened #77 "Exercise 3, Task 3, Step 14: Not able to run User flow."
Exercise 3, Task 3, Step 14: Not able to run User flow.
![image](https://user-images.githubusercontent.com/32365275/106473672-0e3d4580-64ca-11eb-946e-a2c435bc7bc2.png)

[2021-02-02 11:53] Eddevinc opened #78 "Exercise 1, Task 1, subtask 7, Step 17: Getting error."
Exercise 1, Task 1, subtask 7, step 17: Getting error in web app.

Have followed all the steps as mentioned, yet getting this error while launching web app.

![image](https://user-images.githubusercontent.com/32365275/106596657-57999d80-657b-11eb-8e35-61c8a80a4353.png)

[2021-02-04 04:19] saimachi commented on #78
Hi @Eddevinc,

Since this error can be caused by multiple different issues, navigate to your App Service in Azure portal. Then, search for and launch the **Console**. Then, execute `Contoso.Apps.SportsLeague.Web.exe`. If you receive an error about the application not being able to access the Secrets stored in Key Vault, then navigate to your Key Vault and ensure that an access policy (`Get` and `L

[2021-02-05 04:20] saimachi commented on #76
Hi @Eddevinc,

The lab does not ask you to select an option to disable MFA. That is already done by setting the **MFA enforcement** option to _Conditional (Recommended)_, and then deselecting the **Enforce conditional access policies** option, which is done in the next step.

[2021-02-05 04:20] #76 closed

[2021-02-05 04:35] saimachi commented on #77
Hi @Eddevinc,

I was not able to reproduce the same error. I notice that your **Application** and **Reply URL** fields are empty. Perhaps you should try recreating the **Contoso B2C Application** application registration, which is done in Exercise 3, Task 2.

Moreover, according to [this GitHub issue,](https://github.com/MicrosoftDocs/azure-docs/issues/55822) you need to ensure that when you set t

[2021-02-05 10:37] Eddevinc commented on #78
Hi @saimachi

I tried the above step where we execute the "Contoso.Apps.SportsLeague.Web.exe" command in console of app service, and I am getting the following error.

Plus access policy is also correctly configured.

![image](https://user-images.githubusercontent.com/32365275/107022931-f6b4d400-67cb-11eb-9718-15af0b13aef9.png)

[2021-02-05 15:12] timahenning commented on #78
Hi @Eddevinc, Thank you for the picture.  It helps.  Did you verify your Key Vault access is correct and accessible by the application?  If your app cannot access the credentials or the values are not correct, you might get a error message like the one you posted.

[2021-02-09 00:42] timahenning commented on #78
Hi @Eddevinc,

Any update?

[2021-02-09 20:38] tcdaniela opened #79 "Task 2: Deploy Lab VM Resources to Azure-VmExtensionProvisioningError"
Before initiating the hands-on lab, at Task 2, the task listed on the deployment progress screen as LabVM/CustomScriptExtension failed.
![Capture](https://user-images.githubusercontent.com/40601522/107424858-70c3c080-6b1e-11eb-8e0d-80705222f28d.PNG)

[2021-02-10 08:10] sumitmalik51 commented on #77
Hello @saimachi, I have tried again and facing the same issue while running the userflow, The thing is I am not able to select the application in User flow blade.
![image](https://user-images.githubusercontent.com/45102602/107481911-f38f5e80-6ba4-11eb-8377-36d90c89e673.png)
![image](https://user-images.githubusercontent.com/45102602/107481927-f8541280-6ba4-11eb-85ff-22db8743e4f8.png)
I have tried

[2021-02-10 08:49] sumitmalik51 commented on #78
Hello @timahenning, I have run through the lab today and I didn't face this issue, Maybe @Eddevinc missed the key vault string values. Thanks you can close this issue.

[2021-02-12 03:04] #78 closed

[2021-02-17 00:14] saimachi commented on #77
Hi @sumitmalik51,

As [this](https://stackoverflow.com/questions/64739401/ad-b2c-test-user-flow-does-not-allow-selection-of-application-registration) issue indicates, you will need to ensure that any identity provider can be used for this user flow.

Another possibility you could try would be switching your tenant to your B2C directory in Azure portal, and then try running the user flow in that di

[2021-02-17 16:43] saimachi commented on #79
Hi @tcdaniela,

Thank you for bring this issue to our attention. We are updating the Custom Script Extension PowerShell script so it is able to install SSMS and extract the lab files without an issue.

If you would like to proceed with the lab before we deliver a fix in the next few days, run the following PowerShell script on the VM to install Chocolatey and SSMS, and then manually download and e

[2021-02-23 06:26] saimachi commented on #77
Hi @sumitmalik51,

Did my suggested fixes work for you? Let us know the status of your environment, or we may close this issue.

[2021-02-23 16:55] sumitmalik51 commented on #77
Hello @saimachi,
We'll run through the lab tomorrow and will give you an update on the above issue.
Thanks for following up.

[2021-02-24 19:34] #79 closed

[2021-02-24 23:03] sumitmalik51 commented on #77
Hello @saimachin, I was able to run through this step. Thanks you can close the issue.

[2021-02-24 23:10] #77 closed

[2021-04-07 05:43] bonzz opened #81 "Issue in exercise 5 task 1 step 17"
In
Exercise 5: Automating backend processes with Azure Functions and Logic Apps

Task 2: Configure and deploy the Function App

In step 17,
after running the function app , we are getting this error as mentioned in the image

![image](https://user-images.githubusercontent.com/48308835/113816175-0cc21f00-9792-11eb-841e-5703cbee6610.png)

please check on this issue

Thanks & regards
Bony cherian

[2021-04-07 08:14] #81 closed

[2021-04-14 00:32] Dacuna16 opened #82 "Issue with Exercise 3, task 9"
I am stuck on Exercise 3, task 9. After following all the steps when trying to test either "sign up", "sign in" or "claims" I am getting a 404 error like this one (any browser, multiple endpoint devices)

Request URL: https://myWebApp.azurewebsites.net/AzureADB2C/Account/Error
Request Method: GET
Status Code: 404 Not Found

When clicking on **any** of the three buttons I see the browser is redirec

[2021-04-15 00:40] timahenning commented on #82
Hi @Dacuna16,

We will be looking into this over the next few business days.

[2021-04-20 23:46] Dacuna16 commented on #82
Thanks @timahenning  / @kylebunting , looking forward to hearing back from you!

[2021-04-22 13:33] timahenning commented on #82
Hi @Dacuna16,

We are still trying to identify the issue.  Hopefully, we have update later today.

[2021-04-22 23:14] kylebunting commented on #82
@Dacuna16, I'm pushing updates to the hands-on lab guide around this, but wanted to have to test out the fix directly, if you don't mind.

In the Azure portal, you will need to navigate to your Azure AD B2C tenant, which you can do from the `ContosoSports` resource group by selecting the **B2C tenant** resource. Once there, select the **Contoso B2C Application** you created during the steps leadin

[2021-04-22 23:17] kylebunting commented on #82
@Dacuna16, one other thing to note, that I found confusing in the lab guide, is that the **AzureADB2C:Instance** setting added to the configuration for the web app should only contain the name of your Azure AD B2C tenant, not the full domain URL. The value should look something like the below, with your tenant name replacing `contososportsorg`:

![image](https://user-images.githubusercontent.com/5

[2021-04-26 15:13] Dacuna16 commented on #82
Thanks guys, everything is working fine now after applying the recommended changes!

[2021-04-26 15:13] #82 closed

[2021-04-26 15:20] Dacuna16 opened #83 "Call Center app AAD authentication issue"
Hi there,

In Exercise 2->task 3->subtask 2->step 4, I am correctly prompted for AAD credentials, I can successfully authenticate and get access to the web app, but at the right hand side it will still say "Sign in" instead of logged in, any ideas what might be wrong?

[2021-04-26 15:56] kylebunting commented on #82
@Dacuna16, excellent, and thanks for the follow-up to confirm.

[2021-05-04 22:02] kylebunting commented on #83
@Dacuna16, this appears to be an issue with the code being used in the Admin app to validate whether or not the user is authenticated and logged in. I can confirm that I see the same issue, and am awaiting feedback from Microsoft on how they want to proceed with a fix.

[2021-05-06 08:31] Eddevinc opened #85 "MULTIPLE ISSUES FACED WHILE PERFORMING THE LAB"
Hello team here are few of the issues faced by us during performing the lab.

**Major Issues**:
1. Not able to add items to the cart/ Not able to place orders in the contoso sports website.
2. Exercise 5, Task 4, Subtask 2, Step 33: getting json error in code of logic app
3. Exercise 2, Task 3, Subtask 2 , Step 4: in the upper-right corner login option not coming

**Other Issues**

**EXERCISE 1
Ta

[2021-05-06 16:00] timahenning commented on #85
Hi @Eddevinc,

Thank you for the notification.  The labs are solutions with many dependencies.  At times, Azure is updated and the solution breaks or the instructions need updating.  This problem has occurred in this workshop.  Modern Cloud apps is scheduled for an update to address these issues.  Because there are several areas that need work, it will take more than 10 business days.  It will be

[2021-05-07 09:41] akn9050 commented on #85
@timahenning @DawnmarieDesJardins  can this be priorities, we have lab requests for 3rd June.

[2021-05-07 19:18] timahenning commented on #85
Hi @akn9050,
We will try to deliver this 4 - 5 business days before June 3rd.
Tim

[2021-05-25 07:22] akn9050 commented on #85
Hi @timahenning @DawnmarieDesJardins,

Hope you are doing well!

Just wanted to check if you have any update on this issue, actually we are getting close to the scheduled workshop.

[2021-05-26 05:32] saeinc opened #86 "HTTP Error 500.30 in End of Ex1 - Task 1"
In the end of ex1-task1, when I tried to publish the app service, I can get error message and didnt show any web page.
The error page is attached.

![image](https://user-images.githubusercontent.com/42832609/119607351-1df0e900-be2f-11eb-90ed-e6fdfed21048.png)

[2021-05-27 05:37] kylebunting commented on #86
@saeinc, please validate your configuration settings and check that you have updated the code according to the instructions in the lab guide. I have run through the lab several times and have not been able to reproduce this error.

[2021-05-27 21:31] DawnmarieDesJardins commented on #83
Closing as resolved with merge of PR #87

[2021-05-27 21:31] #83 closed

[2021-05-27 21:31] DawnmarieDesJardins commented on #85
Closing issue as resolved with merge of PR #87

[2021-05-27 21:31] #85 closed

[2021-05-27 21:32] DawnmarieDesJardins commented on #86
Closing issue as resolved with merge of PR #87

[2021-05-27 21:32] #86 closed

[2021-06-02 08:11] saeinc opened #88 "ex6-task1 issue"
Hi, All.
I'm doing this HOL and there is an issue to create API Apps (Ex6-task1).
There is no API Apps in marketplace now so how can I handle this?

Please fix this issue. :)

Thank you

[2021-06-02 13:12] kylebunting commented on #88
@saeinc, can you please verify that you are typing "API App" into the search the marketplace box?

![image](https://user-images.githubusercontent.com/5960229/120485967-98b38a00-c382-11eb-8954-70ab76f8adbe.png)

When I do this and press enter, I am taken to the blade to create a new API App, so they definitely still exist in the Azure portal.

![image](https://user-images.githubusercontent.com/5960

[2021-06-03 13:26] kylebunting commented on #88
@saeinc, did the above approach help you to resolve the issue you were experiencing?

[2021-06-04 00:23] saeinc commented on #88
Hi @Kyle bunting,
Thanks for your reply but in my PAYG subscription, I still can't see the API App service :(
I submitted support ticket to Azure Support team regarding this case.

[2021-06-04 13:31] kylebunting commented on #88
@saeinc, as an alternative, you can provision a **Web App** in Azure. API and Web Apps are both the same thing, so it won't make a difference for completing the lab.

[2021-06-05 14:53] kylebunting commented on #88
@saeinc, I'm going to close out this issue. If you are unable to get a resolution from MS support, please proceed to use a **Web App** in place of the API App in the instructions.

[2021-06-05 14:53] #88 closed

[2021-08-18 14:15] zagruby opened #89 "Application Error on Exercise 4: Deploy the Call Center admin website"
Deploying Call Center admin website is resulting in Application Error. Not sure if this change something:
- I verified connection string and they were fine.
- I was trying to deploy on both Linux and Windows machine
- the e-commerce website works fine, so the App configuration and key-vault connection shoudl be fine
Any ideas?

[2021-08-30 21:45] codingbandit commented on #89
I was able to reproduce this issue. Investigating...

[2021-09-01 21:53] codingbandit commented on #89
@zagruby - I have issued a PR for this fix, please downgrade the Microsoft.AspNetCore.Authorization nuget package to version 3.1.18 and your application should deploy successfully

[2021-09-01 22:10] DawnmarieDesJardins commented on #89
Closing issue as resolved with merge off PR #90

[2021-09-01 22:10] #89 closed

[2022-07-01 17:34] #59 closed